create extension if not exists "pgcrypto";

create table if not exists profiles (
  id uuid primary key default gen_random_uuid(),
  email text unique not null,
  username text,
  created_at timestamptz default now()
);

alter table profiles enable row level security;

create policy "Profiles: users can manage their own profile"
  on profiles
  for all
  using (auth.uid() = id);
